<ab-banner></ab-banner>
<div class="contain">
    <div class="row">
        <div class="col-12 text-title text-center">Disfruta y arma tu mejor plan</div>
    </div>
    <div class="row margin-dots justify-content-center">
        <div class="col-8 col-md-3 col-lg-2 text-center">
            <div class="dot" (click)="redirect('register')">
                <div class="icon-register postion-icon-dot"></div>
            </div>
            <div class="text-option">Registro</div>
        </div>
        <div class="col-8 col-md-3 col-lg-2 text-center">
            <div class="dot" (click)="redirect('login')">
                <div class="icon-login postion-icon-dot"></div>
            </div>
            <div class="text-option">Autenticación</div>
        </div>
        <div class="col-8 col-md-3 col-lg-2 text-center">
            <div class="dot">
                <div class="icon-payments postion-icon-dot"></div>
            </div>
            <div class="text-option">Pagos</div>
        </div>
    </div>
</div>
