@import "../../../assets/styles/fonts.css";
@import "../../../assets/styles/icons.css";
@import "../../../assets/styles/global.css";

::ng-deep .mat-form-field-underline {
    display: none;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-infix {
  margin-top: -10px;
}

.black-color {
  color: black;
}
