<ab-banner></ab-banner>
<div class="contain">
    <div class="row">
        <div class="col-12 text-title text-center">Comparte tus momentos y experiencias vividas</div>
    </div>
    <div class="row margin-2 justify-content-center">
        <div class="col-2 text-center">
            <div class="dot">
                <div class="icon-route"></div>
            </div>
            <div class="text-option">Compartir ruta</div>
        </div>
        <div class="col-2 text-center">
            <div class="dot">
                <div class="icon-metting"></div>
            </div>
            <div class="text-option">Compartir evento</div>
        </div>
        <div class="col-2 text-center">
            <div class="dot">
                <div class="icon-publications"></div>
            </div>
            <div class="text-option">Muro de publicaciones</div>
        </div>
    </div>
    </div>
