<ab-banner></ab-banner>
<div class="contain">
    <div class="row">
        <div class="col-12 text-title text-center">Comparte tus momentos y experiencias vividas</div>
    </div>
    <div class="row margin-dots justify-content-center">
        <div *ngIf="comunidad_compartirRuta" class="col-8 col-md-3 col-lg-2 text-center">
            <div class="dot">
                <div class="icon-route postion-icon-dot"></div>
            </div>
            <div class="text-option">Compartir ruta</div>
        </div>
        <div *ngIf="comunidad_compartirEvento" class="col-8 col-md-3 col-lg-2 text-center">
            <div class="dot">
                <div class="icon-metting postion-icon-dot"></div>
            </div>
            <div class="text-option">Compartir evento</div>
        </div>
        <div *ngIf="comunidad_muroPublicaciones" class="col-8 col-md-3 col-lg-2 text-center">
            <div class="dot">
                <div class="icon-publications postion-icon-dot"></div>
            </div>
            <div class="text-option">Muro de publicaciones</div>
        </div>
    </div>
    </div>
