<ab-banner></ab-banner>

<div class="contain">
  <google-map
  (mapClick)="click($event)"
  height="700px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  >
  <map-marker
    #markerElem
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)"
>
  >
  </map-marker>
  <map-info-window>
    <h1>{{infoContent.title}}</h1>
    <img src={{infoContent.imgUrl}}/>
    <br>
    <br>
    {{infoContent.desc}}
    <br>
    <h3>Bicicletas disponibles: {{infoContent.stock}}</h3>
    
    <button *ngIf="infoContent.stock">Reservar</button>
  </map-info-window>
  </google-map>


</div>

