<ab-banner></ab-banner>
<div class="contain">
    <div class="row">
        <div class="col-12 text-title">Bienvenido</div>
        <div class="col-12 text-information">Ofrecemos diversas opciones para que disfrutes, vivas y compartas tu
            experiencia del sistema de
            transporte que está revolucionando el planeta.</div>
    </div>
    <div class="row margin-2 justify-content-center">
        <div class="col-2 text-center">
            <div class="dot" (click)="redirect('search')">
                <div class="icon-search"></div>
            </div>
            <div class="text-option">Búsquedas</div>
        </div>
        <div class="col-2 text-center">
            <div class="dot" (click)="redirect('community')">
                <div class="icon-media"></div>
            </div>
            <div class="text-option">Comunidad</div>
        </div>
        <div class="col-2 text-center">
            <div class="dot" (click)="redirect('account')">
                <div class="icon-account"></div>
            </div>
            <div class="text-option">Inscripción</div>
        </div>
    </div>

</div>