<!-- <ab-banner></ab-banner>
<div class="contain">
    <div class="row">
        <div class="col-12 text-title">Bienvenido</div>
    </div>
    <form [formGroup]="registerForm" class="position-form">
        <div class="row justify-content-center">
            <input class="col-10 col-md-4 input-style"type="text" id="names" name="names" formControlName="names" required
                (keyup)="setValueField('names', $event.target.value);" placeholder="Nombres">
        </div>
        <div class="row justify-content-center">
            <input class="col-10 col-md-4 input-style"type="text" id="lastNames" name="lastNames" formControlName="lastNames"
                required (keyup)="setValueField('lastNames', $event.target.value);"  placeholder="Apellidos">
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 text-center">
                <button (click)="update()" class="btn"
                    [disabled]="!activeBtn">Ingresar</button>
            </div>
        </div>
    </form>
</div> -->
