<ab-banner></ab-banner>
<div class="contain">
    <div class="row">
        <div class="col-12 text-title text-center">Disfruta y arma tu mejor plan</div>
    </div>
    <div class="row margin-dots justify-content-center">
        <div *ngIf="busqueda_bicicletas" class="col-8 col-md-3 col-lg-2 text-center">
            <div class="dot" (click)="redirect('maps')">
                <div class="icon-bike postion-icon-dot"></div>
            </div>
            <div class="text-option">Bicicletas</div>
        </div>

        <div *ngIf="busqueda_rutasCompartidas" class="col-8 col-md-3 col-lg-2 text-center">
            <div class="dot">
                <div class="icon-route postion-icon-dot"></div>
            </div>
            <div class="text-option">Rutas</div>
        </div>
        <div *ngIf="busqueda_eventosPrivados" class="col-8 col-md-3 col-lg-2 text-center">
            <div class="dot">
                <div class="icon-metting postion-icon-dot"></div>
            </div>
            <div class="text-option">Eventos</div>
        </div>
    </div>
    </div>
