.text-title{
    color: #4c7a34;
    font-family: revert;
    font-size: 30px;
}

.text-option{
    color: #4c7a34;
    font-family: revert;
    font-size: 15px;
    font-weight: bold;
}


.text-information{
    color: #4c7a34;
    font-family: revert;
    font-size: 15px;
}