.contain {
    margin: 1% 10% 0% 10%;
}

.text-center {
    text-align: center;
}

.margin-dots {
    margin-top: 5%;
}

.margin-1 {
    margin-top: 1%;
}

.dot {
    height: 120px;
    width: 120px;
    background-color: #b8fdce;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

/**tablets**/
@media only screen and (max-width: 1024px) {
    .dot {
        height: 100px;
        width: 100px;
    }
    
}

  /**mobile**/
  @media only screen and (max-width: 767px) {
    .dot {
        height: 80px;
        width: 80px;
    }
  }