.contain {
    margin: 1% 10% 0% 10%;
}

.text-center {
    text-align: center;
}

.margin-dots {
    margin-top: 5%;
}

.margin-1 {
    margin-top: 1%;
}

.dot {
    height: 120px;
    width: 120px;
    background-color: #b8fdce;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.input-style {
  border: 1px solid#8a8b8c;
  border-radius: 3px;
  margin-top: 5px;
  height: 30px;
  font-size: 15px;
  text-align: center;
}

.btn {
  margin-top: 5%;
  margin-bottom: 5%;
  color:white;
  border: 1px;
  border-radius: 5px;
  width: 150px;
  height: 40px;
  background-color: #4c7a34;
  font-weight: bold;
}

.position-form {
  margin-top: 30px;
}

/**tablets**/
@media only screen and (max-width: 1024px) {
    .dot {
        height: 100px;
        width: 100px;
    }

}

  /**mobile**/
  @media only screen and (max-width: 767px) {
    .dot {
        height: 80px;
        width: 80px;
    }
  }
